/* BEGIN:: TOAST NOTIFICATIONS */

.pop-notifications {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 90px;
    max-height: 50vh;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.pop-notifications.show {
    z-index: 120;
}

.pop-notifications .toast {
    width: 90%;
    max-width: 500px;
    min-width: 280px;
    height: 0;
    margin-top: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s linear, margin-top 0.3s linear, opacity 0.3s linear;
}

.pop-notifications .toast.toast-info {
    background: rgba(0,0,0,0.5);
}

.pop-notifications .toast.toast-error {
    background: rgba(224, 0, 40, 0.8);
}

.pop-notifications.show .toast {
    height: auto;
    padding: 20px;
    margin-top: 14px;
    opacity: 1;
}

.pop-notifications.show .toast p {
    margin: 0px;
    padding: 0px;
}

.pop-notifications.show .toast p ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.pop-notifications.show .toast p ul li {
    font-size: 1em;
}

.pop-notifications.show .toast p ul li:not(:last-child) {
    margin-bottom: 5px;
}

@media only screen and (min-width: 761px) {
    .pop-notifications.show .toast p ul li {
        font-size: 1.3em;
    }
    .pop-notifications.show .toast p ul li:not(:last-child) {
        margin-bottom: 10px;
    }
}